
footer{
    background-color:black;
    padding: 30px;
    text-align: center;
    font-size: 1.5em;
}

footer .pagi-list  a {
    text-decoration: none;
    color: white;
    padding:7px;
    cursor: pointer;
    
}
.active{
    border-bottom: 3px solid crimson;
    
}
