.watch-list-overlay{
    z-index: 1;
    position: fixed;
    top:0px;
    right: 0px;
    background-color: rgb(10, 10, 10);
    height: 100vh;
    font-weight: 300;
    font-style: normal;
    line-height: 1.4em;
    box-sizing: border-box;
    transition:ease 1s;
    width: 0%;
    transform: translate(100%);
    overflow-x: hidden;
    
}

.slide-in{
    width:100%;
    transform: translate(0%);
    
}

/* Watch-List Items */
.watch-list-item-container{
    display: flex;
    flex-wrap: wrap;  
}

.watch-list-item-container>p{
    padding: 20px 15px;
box-sizing: border-box;
}
.watch-list-item-container>p:first-child{
    min-width: 30%;
    max-width: 30%;
}
.watch-list-item-container>p:not(:first-child){
    min-width: 17.5%;
    max-width: 17.5%;
}


.plus-button{
    transition: ease-in 0.4s;
}

.plus-button:hover{
    transform: rotate(90deg);
}

/* Accordion */
.open-accordion{
    cursor: pointer;
}

.hidden-accordion-padding{
    display: flex;
    padding: 40px 40px;
    animation-duration: 1s;
    animation-name:accordion;
}

.hidden-accordion{
    flex-wrap: wrap;
    background-color: rgb(71, 71, 71);
    max-height: 0;
    overflow: hidden;
    transition: all .8s ease-out;
    border-bottom: 1px solid #d83027;
    
}
.hidden-accordion-padding.fade-out{
    animation-name:accordion-fade-out;
}

.hidden-accordion.clicked{
    transition: all .8s ease-out;
    max-height: 100%;
    overflow: visible;
}


@keyframes accordion{
0%{
    opacity: 0;
    /* max-height: 0; */
}
100%{
    opacity: 1;
    /* max-height: 100; */
}
}
@keyframes accordion-fade-out{
0%{
    opacity: 1;
    /* max-height: 100; */
}
100%{
    opacity: 0;
    /* max-height: 0; */
}
}



.visible{
    display: flex;
}
.none{
    display: none;
}

.flex-accordion-img{
    flex-basis: 33%;
    min-width: 250px;
    margin-right: 2%;
}

.flex-accordion-body>p{
    padding-bottom:1.3em;
    
}

.off-watch-list-button{
    display: inline-block;
    border: 1px solid #d83027;
    padding: 10px 7px;
    cursor: pointer;
    
    
}

.off-watch-list-button:hover{
    /* border: 1px solid #d83027; */
    transition: ease-out 0.3s;
    border:1px solid transparent;
    background-color: whitesmoke;
    color: black;
    
}


@media only screen and (max-width: 600px){
.watch-list-item-container{
    flex-direction: column;
}
.watch-list-item-container>p {
    padding: 15px 20px 5px
}
.hidden-accordion-padding{
flex-direction: column;
min-height: 650px;
}
.watch-list-item-container>p:first-child {
    max-width: 100%;
}
}