
body{
    background-color: #292929;
    font-family: 'Oswald', sans-serif;
    background-image: url(./dataset-original.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}



@media only screen and (max-width: 650px){
    .modal-body{
        flex-direction: column;
    }
    .modal-description{
        width: 90%;
    }
}