.watch-list-header{
    display: flex;
    padding: 25px 20px;
    background-color:black;
    font-size: 1.9em;
    line-height: 1.5em;
}
.watch-list-header-close-button{
    position: absolute;
    top: 5px;
    right: 15px;
    cursor: pointer;
    overflow: hidden;
    
}
.watch-list-header-close-button:hover{
    color:gray;
    transition: ease-in 0.2s;
}

/* Watch-list Filter */
.watch-list-filter{
    display: flex;
    flex-wrap: wrap;
    border-bottom: 0.125rem solid #d83027;
    font-size: 1.2rem;
}
.watch-list-filter>div{
    box-sizing: border-box;
}
.watch-list-filter>div:first-child{
    min-width: 30%;
    max-width: 30%;
}
.watch-list-filter>div:not(:first-child){
    min-width: 17.5%;
    max-width: 17.5%;
}
.watch-list-filter>div>a{
    display: inline-block;
    padding: 20px 5px 20px 20px;
    position: relative;
}
.arrow-filter{
    opacity: 0.7;
    color:rgb(182, 49, 49);
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    display: inline-block;
}
.down{
    transform: rotate(-180deg);
    vertical-align: middle;
}

.watch-list-filter>div a:hover+.arrow-filter{
    opacity: 1;
}
.button{
    color :whitesmoke;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.is-filtered{
    border-bottom: 1px solid red;
}
.visible{
    display: none;
}

select{
    background-color: transparent !important;
    color:white;
    border: none;
    outline: none;
}
.dropdown-filter{
display: none;
padding: 5px 20px 5px;
border-bottom: 2px solid #d83027;
}


@media only screen and (max-width: 500px) {
    .dropdown-filter{
        display: block;
    }
    .invisible{
        display: none;
    }
}