
.input-search-wrapper{
    width: 60%;
    position: relative;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 20px;
}
.input-form{
    position: relative;
}

#search-input{
    height: 40px;
    width: 100%;
    padding: 10px 20px;
    border-style: none;
    outline: none;
    font-size: 1em;
    transition: 0.2s ease-out;
    border-radius: 1px;
}
.search-button{
    position: absolute;
    height: 40px;
    width:36px;
    top:0px;
    right:0;
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
}