.flex-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color:black;
    font-size: 1.6em !important;
    position: fixed;
    width: 100%;
    z-index: 1;
}
.flex-nav-item{
    font-family: 'Monoton-Regular';
}

.watch-list-button{
    background-color: transparent;
    border: none;
    outline: none;
    color: whitesmoke;
    position: relative;
    cursor: pointer;
}
.nav-counter{
    position: absolute;
    padding: 0 4px;
    top: 0;
    right: 0px;
    color:black;
    background-color: #b7b5b7;
    border-radius: 30%;
    font-size: 10px;
}
.fa-icon{
    padding-right:10px;
}